# Plan

Build a board game recommender using a dataset with 15 million reviews from board game geek that I found on kaggle and use that to find new games to play :)

# Load the libraries and the data

In [53]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [56]:
ratings = pd.read_csv("./GBB/bgg-15m-reviews.csv")
ratings

,Unnamed: 0,user,rating,comment,ID,name
0,0,Torsten,10.0,NaN,30549,Pandemic
1,1,mitnachtKAUBO-I,10.0,Hands down my favorite new game of BGG CON 200...,30549,Pandemic
2,2,avlawn,10.0,I tend to either love or easily tire of co-op ...,30549,Pandemic
3,3,Mike Mayer,10.0,NaN,30549,Pandemic
4,4,Mease19,10.0,This is an amazing co-op game. I play mostly ...,30549,Pandemic
...,...,...,...,...,...,...
15823264,15823264,Fafhrd65,8.0,Turn based preview looks very promising. The g...,281515,Company of Heroes
15823265,15823265,PlatinumOh,8.0,KS,281515,Company of Heroes
15823266,15823266,BunkerBill,7.0,NaN,281515,Company of Heroes
15823267,15823267,Hattori Hanzo,6.0,NaN,281515,Company of Heroes
15823268,15823268,Richie2000,1.0,NaN,281515,Company of Heroes

In [57]:
ratings.columns

Index(['Unnamed: 0', 'user', 'rating', 'comment', 'ID', 'name'], dtype='object')

In [58]:
ratings.drop(["Unnamed: 0", "comment"], axis=1, inplace=True)

In [59]:
ratings.head()

              user  rating     ID      name
0          Torsten    10.0  30549  Pandemic
1  mitnachtKAUBO-I    10.0  30549  Pandemic
2           avlawn    10.0  30549  Pandemic
3       Mike Mayer    10.0  30549  Pandemic
4          Mease19    10.0  30549  Pandemic

In [60]:
# giving the columns better names

ratings.rename(mapper={"user":"user_id", "ID":"game_id", "name":"title"}, axis=1, inplace=True)
ratings.head()

           user_id  rating  game_id     title
0          Torsten    10.0    30549  Pandemic
1  mitnachtKAUBO-I    10.0    30549  Pandemic
2           avlawn    10.0    30549  Pandemic
3       Mike Mayer    10.0    30549  Pandemic
4          Mease19    10.0    30549  Pandemic

In [61]:
ratings.columns

Index(['user_id', 'rating', 'game_id', 'title'], dtype='object')

In [62]:
info = ratings[["game_id","title"]]
info

          game_id              title
0           30549           Pandemic
1           30549           Pandemic
2           30549           Pandemic
3           30549           Pandemic
4           30549           Pandemic
...           ...                ...
15823264   281515  Company of Heroes
15823265   281515  Company of Heroes
15823266   281515  Company of Heroes
15823267   281515  Company of Heroes
15823268   281515  Company of Heroes

[15823269 rows x 2 columns]

In [63]:
info.drop_duplicates(inplace=True)
info

C:\Users\linco\AppData\Local\Temp\ipykernel_27232\999174464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info.drop_duplicates(inplace=True)

          game_id                        title
0           30549                     Pandemic
100           822                  Carcassonne
200            13                        Catan
300         68448                    7 Wonders
400         36218                     Dominion
...           ...                          ...
15823119   246345                   Ninja Rush
15823149   195623  Politricks: Dirty Card Game
15823179   235943                     Doppel X
15823209   284862               Beasty Borders
15823239   281515            Company of Heroes

[19330 rows x 2 columns]

In [64]:
ratings.game_id.nunique()

19330

# Exploratory Analysis

In [65]:
# number of users

ratings.user_id.nunique()

351048

In [66]:
# number of books
ratings.game_id.nunique()

19330

In [67]:
# number of ratings per user
userfreq = ratings[["user_id", "game_id"]].groupby("user_id").count().reset_index()
userfreq.columns = ["user_id","no_ratings"]
userfreq.sort_values(by="no_ratings")

                     user_id  no_ratings
84277                Khaisor           1
204393      christophersisto           1
204392       christophermrau           1
204391  christophermorrison2           1
204389    christophergodfrey           1
...                      ...         ...
66952                Hessu68        4602
342435                 warta        4811
41655                   Doel        4876
161600              TomVasel        4950
267289          leffe dubbel        6027

[351048 rows x 2 columns]

# Bahesian stats

In [68]:
gamestats = ratings.groupby("game_id")["rating"].agg(["count","mean"])
gamestats.head(10)

         count      mean
game_id
1         5089  7.630658
2          544  6.613411
3        14393  7.445493
4          337  6.612821
5        17838  7.344081
6           81  6.479630
7         3150  6.520788
8          197  6.147411
9         1358  6.467161
10        7855  6.717890

In [69]:
C=gamestats["count"].mean()
m=gamestats["mean"].mean()

In [70]:
def bayesian_avg(ratings):
    bayesian_avg = (C*m+ratings.sum()) / (C+ratings.count())
    return bayesian_avg

In [71]:
bayesavg_ratings = ratings.groupby("game_id")["rating"].agg(bayesian_avg).reset_index()
bayesavg_ratings.columns = ["game_id","bayesian_avg"]
bayesavg_ratings.head(5)

   game_id  bayesian_avg
0        1      7.459099
1        2      6.480725
2        3      7.388831
3        4      6.456785
4        5      7.302331

In [72]:
gamestats = gamestats.merge(bayesavg_ratings, on="game_id")
gamestats.head(10)

   game_id  count      mean  bayesian_avg
0        1   5089  7.630658      7.459099
1        2    544  6.613411      6.480725
2        3  14393  7.445493      7.388831
3        4    337  6.612821      6.456785
4        5  17838  7.344081      7.302331
5        6     81  6.479630      6.400389
6        7   3150  6.520788      6.494336
7        8    197  6.147411      6.344997
8        9   1358  6.467161      6.439100
9       10   7855  6.717890      6.687185

In [73]:
gamestats = gamestats.merge(info[["game_id","title"]], on="game_id")
gamestats.head(10)

   game_id  count      mean  bayesian_avg               title
0        1   5089  7.630658      7.459099          Die Macher
1        2    544  6.613411      6.480725        Dragonmaster
2        3  14393  7.445493      7.388831             Samurai
3        4    337  6.612821      6.456785      Tal der Könige
4        5  17838  7.344081      7.302331             Acquire
5        6     81  6.479630      6.400389  Mare Mediterraneum
6        7   3150  6.520788      6.494336           Cathedral
7        8    197  6.147411      6.344997   Lords of Creation
8        9   1358  6.467161      6.439100        El Caballero
9       10   7855  6.717890      6.687185           Elfenland

# Building the recommender system

first step of collaborative filtering is to transform our data into a user-item matrix - also known as a "utility" matrix

first I need 4 mapper dictionaries:
user_mapper: maps user id to user index
game_mapper: maps game id to game index
user_inv_mapper: maps user index to user id
game_inv_mapper: maps game index to game id

## Dictionaries

In [78]:
# making all the titles lower case so it is easier to search

info["title"] = info["title"].apply(lambda x: x.lower())
info["title"]

C:\Users\linco\AppData\Local\Temp\ipykernel_27232\569374738.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  info["title"] = info["title"].apply(lambda x: x.lower())

0                              pandemic
100                         carcassonne
200                               catan
300                           7 wonders
400                            dominion
                       ...
15823119                     ninja rush
15823149    politricks: dirty card game
15823179                       doppel x
15823209                 beasty borders
15823239              company of heroes
Name: title, Length: 19330, dtype: object

In [79]:
gametitles = dict(zip(info["game_id"], info["title"]))
gametitles

{30549: 'pandemic',
 822: 'carcassonne',
 13: 'catan',
 68448: '7 wonders',
 36218: 'dominion',
 9209: 'ticket to ride',
 178900: 'codenames',
 31260: 'agricola',
 3076: 'puerto rico',
 40692: 'small world',
 167791: 'terraforming mars',
 70323: 'king of tokyo',
 14996: 'ticket to ride: europe',
 148228: 'splendor',
 2651: 'power grid',
 173346: '7 wonders duel',
 129622: 'love letter',
 169786: 'scythe',
 39856: 'dixit',
 478: 'citadels',
 230802: 'azul',
 28143: 'race for the galaxy',
 110327: 'lords of waterdeep',
 84876: 'the castles of burgundy',
 34635: 'stone age',
 163412: 'patchwork',
 1927: 'munchkin',
 65244: 'forbidden island',
 12333: 'twilight struggle',
 161936: 'pandemic legacy: season 1',
 150376: 'dead of winter: a crossroads game',
 120677: 'terra mystica',
 174430: 'gloomhaven',
 11: 'bohnanza',
 98778: 'hanabi',
 15987: 'arkham horror',
 50: 'lost cities',
 10547: 'betrayal at house on the hill',
 41114: 'the resistance',
 54043: 'jaipur',
 131357: 'coup',
 147020: 'star realms',
 70919: 'takenoko',
 266192: 'wingspan',
 133473: 'sushi go!',
 37111: 'battlestar galactica: the board game',
 121921: 'robinson crusoe: adventures on the cursed island',
 170216: 'blood rage',
 463: 'magic: the gathering',
 157354: 'five tribes',
 181304: 'mysterium',
 40834: 'dominion: intrigue',
 181: 'risk',
 126163: "tzolk'in: the mayan calendar",
 204583: 'kingdomino',
 31481: 'galaxy trucker',
 2655: 'hive',
 157969: 'sheriff of nottingham',
 146021: 'eldritch horror',
 6249: 'alhambra',
 103343: 'a game of thrones: the board game (second edition)',
 171: 'chess',
 102794: 'caverna: the cave farmers',
 1406: 'monopoly',
 96848: 'mage knight board game',
 193738: 'great western trail',
 39463: 'cosmic encounter',
 18602: 'caylus',
 124742: 'android: netrunner',
 128882: 'the resistance: avalon',
 183394: 'viticulture essential edition',
 124361: 'concordia',
 72125: 'eclipse',
 3955: 'bang!',
 320: 'scrabble',
 35677: 'le havre',
 205637: 'arkham horror: the card game',
 15062: 'shadows over camelot',
 132531: 'roll for the galaxy',
 10630: "memoir '44",
 201808: 'clank!: a deck-building adventure',
 42: 'tigris & euphrates',
 143884: 'machi koro',
 194655: 'santorini',
 136063: 'forbidden desert',
 9220: 'saboteur',
 148949: 'istanbul',
 158899: 'colt express',
 93: 'el grande',
 122522: 'smash up',
 172: 'for sale',
 205059: 'mansions of madness: second edition',
 199561: 'sagrada',
 146508: 't.i.m.e stories',
 103885: 'star wars: x-wing miniatures game',
 16992: 'tsuro',
 50381: 'cards against humanity',
 18: 'roborally',
 2453: 'blokus',
 104162: 'descent: journeys in the dark (second edition)',
 8217: 'san juan',
 153938: 'camel up',
 100423: 'elder sign',
 155426: 'castles of mad king ludwig',
 187645: 'star wars: rebellion',
 182028: 'through the ages: a new story of civilization',
 123260: 'suburbia',
 162886: 'spirit island',
 164928: 'orléans',
 100901: 'flash point: fire rescue',
 147949: 'one night ultimate werewolf',
 154203: 'imperial settlers',
 77423: 'the lord of the rings: the card game',
 108745: 'seasons',
 2223: 'uno',
 192291: 'sushi go party!',
 12942: 'no thanks!',
 104006: 'village',
 2653: 'survive: escape from atlantis!',
 164153: 'star wars: imperial assault',
 123540: 'tokaido',
 129437: 'legendary: a marvel deck building game',
 172225: 'exploding kittens',
 176494: 'isle of skye: from chieftain to king',
 432: '6 nimmt!',
 116: 'guillotine',
 237182: 'root',
 37046: 'ghost stories',
 8203: "hey, that's my fish!",
 143741: 'bang! the dice game',
 171623: 'the voyages of marco polo',
 12: 'ra',
 107529: 'kingdom builder',
 28720: 'brass: lancashire',
 122515: 'keyflower',
 27162: 'kingsburg',
 12493: 'twilight imperium (third edition)',
 5: 'acquire',
 25613: 'through the ages: a story of civilization',
 73439: 'troyes',
 21790: 'thurn and taxis',
 166384: 'spyfall',
 54: 'tikal',
 62219: 'dominant species',
 5782: 'coloretto',
 161970: 'alchemists',
 74: 'apples to apples',
 54998: 'cyclades',
 209685: 'century: spice road',
 244521: 'the quacks of quedlinburg',
 1294: 'clue',
 37904: 'formula d',
 244992: 'the mind',
 188834: 'secret hitler',
 15512: 'diamant',
 2511: 'sherlock holmes consulting detective: the thames murders & other cases',
 124708: 'mice and mystics',
 118: 'modern art',
 24480: 'the pillars of the earth',
 113924: 'zombicide',
 198773: 'codenames: pictures',
 92828: 'dixit: odyssey',
 62871: 'zombie dice',
 28023: 'jamaica',
 127023: 'kemet',
 177736: 'a feast for odin',
 258: 'fluxx',
 43570: 'friday',
 25669: 'qwirkle',
 9674: 'ingenious',
 760: 'battle line',
 113294: 'escape: the curse of the temple',
 171131: 'captain sonar',
 218603: 'photosynthesis',
 180263: 'the 7th continent',
 156129: 'deception: murder in hong kong',
 21763: 'mr. jack',
 224517: 'brass: birmingham',
 163967: 'tiny epic galaxies',
 199792: 'everdell',
 38453: 'space alert',
 555: 'the princes of florence',
 205896: 'rising sun',
 34219: 'biblios',
 3: 'samurai',
 102652: 'sentinels of the multiverse',
 147151: 'concept',
 188: 'go',
 220308: 'gaia project',
 63888: 'innovation',
 2471: 'zombies!!!',
 209778: 'magic maze',
 102680: 'trajan',
 77130: "sid meier's civilization: the board game",
 144733: 'russian railroads',
 9217: 'saint petersburg',
 43111: 'chaos in the old world',
 170042: 'raiders of the north sea',
 127398: 'legends of andor',
 233867: 'welcome to...',
 823: 'the lord of the rings',
 48726: 'alien frontiers',
 43443: 'castle panic',
 236457: 'architects of the west kingdom',
 438: 'scotland yard',
 160477: 'onitama',
 27588: 'zooloretto',
 160499: 'king of new york',
 29368: 'last night on earth: the zombie game',
 1917: 'stratego',
 209010: 'mechs vs. minions',
 216132: 'clans of caledonia',
 59959: 'letters from whitechapel',
 131835: 'boss monster: the dungeon building card game',
 12692: 'gloom',
 194594: 'dice forge',
 91536: 'quarriors!',
 215: 'tichu',
 20100: 'wits & wagers',
 21241: 'neuroshima hex! 3.0',
 92415: 'skull',
 155703: 'evolution',
 278: 'catan card game',
 175914: 'food chain magnate',
 19857: 'glory to rome',
 27627: 'talisman (revised 4th edition)',
 45315: 'dungeon lords',
 20551: 'shogun',
 83330: 'mansions of madness',
 118048: 'targi',
 115746: 'war of the ring: second edition',
 503: 'through the desert',
 41: "can't stop",
 25292: 'merchants & marauders',
 140620: 'lewis & clark: the expedition',
 97207: 'dungeon petz',
 811: 'rummikub',
 45: 'perudo',
 172287: 'champions of midgard',
 155362: "ca$h 'n guns (second edition)",
 172818: 'above and below',
 125618: 'libertalia',
 25554: 'notre dame',
 119890: 'agricola: all creatures big and small',
 156009: 'port royal',
 244522: "that's pretty clever!",
 46213: 'telestrations',
 224037: 'codenames: duet',
 180974: 'potion explosion',
 71721: 'space hulk: death angel – the card game',
 161417: 'red7',
 483: 'diplomacy',
 176189: 'zombicide: black plague',
 133038: 'pathfinder adventure card game: rise of the runelords – base set',
 63268: 'spot it!',
 239188: 'chronicles of crime',
 171668: 'the grizzled',
 140934: 'arboretum',
 66188: 'fresco',
 233078: 'twilight imperium (fourth edition)',
 169426: 'roll player',
 69789: 'ascension: deckbuilding game',
 155821: 'inis',
 37380: 'roll through the ages: the bronze age',
 34119: 'tales of the arabian nights',
 521: 'crokinole',
 2397: 'backgammon',
 17226: 'descent: journeys in the dark',
 43015: 'hansa teutonica',
 2243: 'yahtzee',
 150312: 'welcome to the dungeon',
 31627: 'ticket to ride: nordic countries',
 182874: 'grand austria hotel',
 198994: 'hero realms',
 2452: 'jenga',
 17133: 'railways of the world',
 126042: 'nations',
 8098: 'jungle speed',
 9216: 'goa',
 191862: 'imhotep',
 229853: 'teotihuacan: city of gods',
 197376: 'charterstone',
 4390: 'carcassonne: hunters and gatherers',
 199478: 'flamme rouge',
 146652: 'legendary encounters: an alien deck building game',
 221107: 'pandemic legacy: season 2',
 181279: 'fury of dracula (third/fourth edition)',
 699: 'heroquest',
 219513: 'bärenpark',
 31594: 'in the year of the dragon',
 1198: 'set',
 176396: 'quadropolis',
 172386: 'mombasa',
 42215: 'tobago',
 93260: 'summoner wars: master set',
 199042: 'harry potter: hogwarts battle',
 185343: 'anachrony',
 138161: 'firefly: the game',
 98: 'axis & allies',
 90137: 'blood bowl: team manager – the card game',
 6472: 'a game of thrones',
 2921: 'the game of life',
 221194: 'dinosaur island',
 1111: 'taboo',
 53953: 'thunderstone',
 1219: 'labyrinth',
 136888: 'bruges',
 9609: 'war of the ring',
 22545: 'age of empires iii: the age of discovery',
 217372: 'the quest for el dorado',
 225694: 'decrypto',
 19237: "ca$h 'n gun$",
 128621: 'viticulture',
 169654: 'deep sea adventure',
 70149: 'ora et labora',
 25821: "the werewolves of miller's hollow",
 158600: 'hanamikoji',
 97786: 'small world underground',
 27833: 'steam',
 150: 'pitchcar',
 39683: 'at the gates of loyang',
 167355: 'nemesis',
 155987: 'abyss',
 68425: 'eminent domain',
 286096: 'tapestry',
 168435: 'between two cities',
 160851: 'lanterns: the harvest festival',
 25417: 'battlelore',
 30869: 'thebes',
 206718: 'ethnos',
 91312: 'discworld: ankh-morpork',
 254640: 'just one',
 33160: 'endeavor',
 150658: 'pandemic: the cure',
 125153: 'the gallerist',
 63628: 'the manhattan project',
 133848: 'euphoria: build a better dystopia',
 1115: 'poker',
 20963: 'fury of dracula (second edition)',
 127060: 'bora bora',
 139030: 'mascarade',
 155068: 'arcadia quest',
 117959: 'las vegas',
 97842: 'last will',
 191189: "aeon's end",
 73761: 'k2',
 143693: 'glass road',
 15818: 'pickomino',
 131260: 'qwixx',
 21348: 'ticket to ride: märklin',
 257501: 'keyforge: call of the archons',
 183840: 'oh my goods!',
 66362: 'glen more',
 88: 'torres',
 5404: 'amun-re',
 4098: 'age of steam',
 141572: 'paperback',
 176920: 'mission: red planet (second edition)',
 15363: 'nexus ops',
 13823: 'fairy tale',
 891: 'cranium',
 27746: 'colosseum',
 112: 'condottiere',
 27708: '1960: the making of the president',
 59946: 'dungeons & dragons: castle ravenloft board game',
 194607: 'mystic vale',
 163968: 'elysium',
 220: 'high society',
 40398: 'monopoly deal card game',
 327: "loopin' louie",
 24181: 'imperial',
 146886: 'la granja',
 2381: 'scattergories',
 183251: 'karuba',
 27225: 'bananagrams',
 140: 'pit',
 394: 'kahuna',
 2425: 'battleship',
 47: 'chinatown',
 203993: 'lorenzo il magnifico',
 200680: 'agricola (revised edition)',
 196340: 'yokohama',
 233371: 'clank! in! space!: a deck-building adventure',
 1234: 'once upon a time: the storytelling card game',
 12002: 'jambo',
 2398: 'cribbage',
 2987: "pirate's cove",
 1465: 'wizard',
 10: 'elfenland',
 203420: 'exit: the game – the abandoned cabin',
 11971: 'cockroach poker',
 24068: 'shadow hunters',
 14105: 'commands & colors: ancients',
 27173: 'vikings',
 172081: 'burgle bros.',
 66589: 'navegador',
 173090: 'the game',
 51: 'ricochet robots',
 30380: 'cuba',
 198928: 'pandemic: iberia',
 91514: 'rhino hero',
 13308: 'niagara',
 220877: 'rajas of the ganges',
 175117: 'celestia',
 11170: 'heroscape master set: rise of the valkyrie',
 21523: 'runebound (second edition)',
 265736: 'tiny towns',
 256382: 'disney villainous',
 22345: 'yspahan',
 59294: 'runewars',
 36946: 'red november',
 163602: 'xcom: the board game',
 171499: 'cacao',
 2842: 'transamerica',
 915: 'mystery of the abbey',
 247763: 'underwater cities',
 188920: 'this war of mine: the board game',
 24508: 'taluva',
 21882: 'blue moon city',
 172308: 'broom service',
 256226: 'azul: stained glass of sintra',
 177524: 'icecool',
 121408: 'trains',
 16986: 'ubongo',
 159675: 'fields of arle',
 826: 'cartagena',
 137297: 'rise of augustus',
 156336: 'onirim (second edition)',
 7717: 'carcassonne: the castle',
 7805: 'fearsome floors',
 221965: 'the fox in the forest',
 245638: 'coimbra',
 131366: 'eight-minute empire',
 105134: 'risk legacy',
 138788: 'dungeon roll',
 2952: 'trivial pursuit: genus edition',
 193037: 'dead of winter: the long night',
 192153: 'pandemic: reign of cthulhu',
 79828: 'a few acres of snow',
 169124: "flick 'em up!",
 194879: 'not alone',
 31730: 'chicago express',
 72287: 'mr. jack pocket',
 177639: 'raptor',
 101721: 'mage wars arena',
 1258: 'phase 10',
 144344: 'rococo',
 13004: 'the downfall of pompeii',
 172242: 'exploding kittens: nsfw deck',
 232043: 'queendomino',
 55690: 'kingdom death: monster',
 105551: 'archipelago',
 175155: 'forbidden stars',
 590: 'mille bornes',
 179275: 'one deck dungeon',
 85256: 'timeline: inventions',
 7854: 'yinsh',
 71: 'civilization',
 97903: 'terror in meeple city',
 372: 'schotten totten',
 162082: 'deus',
 46: 'medici',
 475: 'taj mahal',
 22827: 'starcraft: the board game',
 2375: 'sequence',
 105: 'colossal arena',
 122298: 'morels',
 128671: 'spartacus: a game of blood and treachery',
 82222: 'xia: legends of a drift system',
 24310: 'the red dragon inn',
 55670: 'macao',
 2083: 'checkers',
 148951: 'tiny epic kingdoms',
 2389: 'othello',
 17329: 'animal upon animal',
 1293: 'boggle',
 90419: 'airlines europe',
 242302: 'space base',
 269385: 'the lord of the rings: journeys in middle-earth',
 285774: 'marvel champions: the card game',
 40628: 'finca',
 39938: 'carson city',
 929: 'the great dalmuti',
 184921: 'bunny kingdom',
 2281: 'pictionary',
 54625: 'space hulk (third edition)',
 262712: 'res arcana',
 1829: 'risk 2210 a.d.',
 40793: 'dice town',
 171273: 'fuse',
 36932: 'claustrophobia',
 110277: 'among the stars',
 96913: 'lancaster',
 200147: 'kanagawa',
 204027: 'cottage garden',
 195421: 'near and far',
 2719: 'connect four',
 3201: 'lord of the rings: the confrontation',
 83195: 'ghost blitz',
 215311: 'downforce',
 176229: 'tides of time',
 205398: 'citadels',
 257: 'kill doctor lucky',
 134726: 'smash up: awesome level 9000',
 20437: 'lords of vegas',
 246192: 'gizmos',
 143519: 'quantum',
 8051: 'attika',
 246784: 'cryptid',
 159508: 'aquasphere',
 234487: 'altiplano',
 2093: 'mahjong',
 163068: 'trickerion: legends of illusion',
 65781: 'london',
 22141: 'cleopatra and the society of architects',
 155695: 'age of war',
 624: 'quoridor',
 58281: 'summoner wars',
 526: 'abalone classic',
 15364: 'vegas showdown',
 125678: 'dc comics deck-building game',
 29387: 'zombie fluxx',
 244228: 'reef',
 263918: 'cartographers: a roll player tale',
 161533: 'lisboa',
 140933: 'blueprints',
 39953: 'a game of thrones: the card game',
 38054: 'snow tails',
 30539: 'get bit!',
 284083: 'the crew: the quest for planet nine',
 1345: 'genoa',
 232832: 'century: golem edition',
 50750: 'belfort',
 207830: '5-minute dungeon',
 2392: 'mastermind',
 223321: 'detective: a modern crime board game',
 770: 'loot',
 146278: 'tash-kalar: arena of legends',
 10093: 'axis & allies',
 180593: 'the bloody inn',
 44163: 'power grid: factory manager',
 227789: 'heaven & ale',
 66356: 'dungeons & dragons: wrath of ashardalon board game',
 12995: 'dungeon twister',
 1269: 'skip-bo',
 2448: 'kalah',
 143986: 'cv',
 266810: 'paladins of the west kingdom',
 201921: 'tiny epic quest',
 137269: 'spyrium',
 102548: 'dungeon fighter',
 56692: 'parade',
 5716: 'balloon cup',
 47185: 'warhammer: invasion',
 182134: 'evolution: climate',
 2394: 'dominoes',
 192457: 'cry havoc',
 49: 'mamma mia!',
 2407: 'sorry!',
 54138: 'imperial 2030',
 71836: 'onirim',
 42452: 'rattus',
 681: 'quarto',
 182631: 'star realms: colony wars',
 127024: 'room 25',
 170416: 'vast: the crystal caverns',
 18833: 'lord of the rings: the confrontation',
 559: 'metro',
 66056: 'rivals for catan',
 124172: 'tsuro of the seas',
 33604: 'say anything',
 162007: 'steampunk rally',
 34585: 'keltis',
 146439: 'battlelore (second edition)',
 232405: 'western legends',
 148575: 'marvel dice masters: avengers vs. x-men',
 3699: 'killer bunnies and the quest for the magic carrot',
 9446: 'blue moon',
 155624: 'specter ops',
 233398: 'endeavor: age of sail',
 191977: 'the castles of burgundy: the card game',
 166669: 'san juan (second edition)',
 121: 'dune',
 109276: "kanban: driver's edition",
 228341: 'pulsar 2849',
 91872: 'dungeons & dragons: the legend of drizzt board game',
 15817: 'manila',
 245654: 'railroad ink: deep blue edition',
 121410: 'steam park',
 250458: 'gùgōng',
 112686: 'epic spell wars of the battle wizards: duel at mt. skullzfyre',
 137408: 'amerigo',
 39351: 'automobile',
 13642: 'louis xiv',
 171233: 'the big book of madness',
 242: 'junta',
 217449: 'nmbr 9',
 195539: "the godfather: corleone's empire",
 17223: 'world of warcraft: the boardgame',
 202408: 'adrenaline',
 21050: 'combat commander: europe',
 815: 'chrononauts',
 174660: 'new york 1901',
 103886: 'star wars: the card game',
 163: 'balderdash',
 136991: 'loony quest',
 712: 'blood bowl (third edition)',
 65532: 'defenders of the realm',
 161614: 'stockpile',
 1: 'die macher',
 2593: 'pass the pigs',
 203417: 'exit: the game – the secret lab',
 213893: 'yamataï',
 40765: 'clash of cultures',
 194880: 'dream home',
 58421: 'egizia',
 554: 'la città',
 714: 'talisman',
 10640: 'doom: the boardgame',
 904: 'dream factory',
 156566: 'lords of xidit',
 16395: 'blokus duo',
 1382: "winner's circle",
 1897: 'the starfarers of catan',
 193042: 'junk art',
 222509: 'lords of hellas',
 12962: 'reef encounter',
 126792: 'myrmes',
 167400: 'ashes: rise of the phoenixborn',
 232219: 'dragon castle',
 157526: 'viceroy',
 242574: 'century: eastern wonders',
 1353: "time's up!",
 8989: 'hansa',
 274960: 'point salad',
 192135: 'too many bones',
 168584: 'love letter: batman',
 25071: 'munchkin cthulhu',
 27710: 'catan dice game',
 2955: 'mexica',
 120: 'hoity toity',
 203416: "exit: the game – the pharaoh's tomb",
 72321: 'the networks',
 9440: 'maharaja: the game of palace building in india',
 4636: 'clans',
 221: 'ikusa',
 165722: 'klask',
 232918: 'fallout',
 102104: 'star fluxx',
 199: 'manhattan',
 113997: 'tajemnicze domostwo',
 27364: 'caylus magna carta',
 28: 'illuminati (second edition)',
 128271: 'ginkgopolis',
 8125: 'santiago',
 157403: 'black fleet',
 154246: 'la isla',
 181521: 'warhammer quest: the adventure card game',
 28259: 'cutthroat caverns',
 203427: 'fabled fruit',
 229220: 'santa maria',
 234: 'hannibal: rome vs. carthage',
 152162: 'diamonds',
 33154: 'wasabi!',
 276025: 'maracaibo',
 36345: 'monty python fluxx',
 66505: 'the speicherstadt',
 157809: 'nations: the dice game',
 32125: 'felicity: the cat in the sack',
 230080: 'majesty: for the realm',
 192458: '51st state: master set',
 181530: 'runebound (third edition)',
 189932: 'tyrants of the underdark',
 163166: 'one night ultimate werewolf daybreak',
 175324: 'fog of love',
 9203: 'wings of war: famous aces',
 119: 'kingdoms',
 181810: 'kodama: the tree spirits',
 42776: 'gears of war: the board game',
 145659: 'scoville',
 43868: 'the adventurers: the temple of chac',
 41916: 'the magic labyrinth',
 4095: 'star munchkin',
 19600: 'antike',
 104710: 'wiz-war (eighth edition)',
 116998: 'thunderstone advance: towers of ruin',
 206941: 'first class: all aboard the orient express!',
 200077: 'mint works',
 144592: 'bruxelles 1893',
 43528: 'world without end',
 421: '1830: railways & robber barons',
 220520: 'caverna: cave vs cave',
 201825: 'ex libris',
 124: 'primordial soup',
 176734: 'the manhattan project: energy empire',
 269207: 'the taverns of tiefenthal',
 16496: 'roma',
 163745: 'star wars: armada',
 155969: 'harbour',
 91: 'paths of glory',
 119432: 'snowdonia',
 42052: 'vinhos',
 30957: 'tribune: primus inter pares',
 142326: 'eight-minute empire: legends',
 287954: 'azul: summer pavilion',
 121297: 'fleet',
 35815: 'a touch of evil: the supernatural game',
 140603: 'francis drake',
 139976: 'cthulhu wars',
 1159: 'evo',
 205359: 'star wars: destiny',
 494: 'ave caesar',
 2346: 'dvonn',
 224: 'history of the world',
 553: 'chez geek',
 70512: 'luna',
 179572: 'dice city',
 4143: 'guess who?',
 18100: 'china',
 925: 'werewolf',
 26990: 'container',
 271896: 'star wars: outer rim',

## The matrix

In [80]:
from scipy.sparse import csr_matrix

def create_X(df):
    """
    Generates a sparse matrix from ratings dataframe.
    
    Args:
        df: pandas dataframe
    
    Returns:
        X: sparse matrix
        user_mapper: dict that maps user id's to user indices
        user_inv_mapper: dict that maps user indices to user id's
        game_mapper: dict that maps game id's to game indices
        game_inv_mapper: dict that maps game indices to game id's
    """
    
    N = df["user_id"].nunique() # number of users
    M= df["game_id"].nunique() # number of games
    
    user_mapper = dict(zip(np.unique(df["user_id"]), list(range(N))))
    game_mapper = dict(zip(np.unique(df["game_id"]), list(range(M))))
    
    user_inv_mapper = dict(zip(list(range(N)), np.unique(df["user_id"])))
    game_inv_mapper = dict(zip(list(range(M)), np.unique(df["game_id"])))
    
    user_index = [user_mapper[i] for i in df["user_id"]]
    game_index = [game_mapper[i] for i in df["game_id"]]
    
    X = csr_matrix((df["rating"], (game_index, user_index)), shape=(M,N))
    
    return X, user_mapper, game_mapper, user_inv_mapper, game_inv_mapper

In [81]:
ratings.user_id.unique()

array(['Torsten', 'mitnachtKAUBO-I', 'avlawn', ..., 'rielnano',
       'Lost_Titan_Legacy', 'smedzz31'], dtype=object)

In [82]:
# encode the user ids
from sklearn.preprocessing import LabelEncoder

# Step 1. Instantiate the model (label encoding)
le = LabelEncoder() 
le.fit_transform(ratings['user_id'])

# Step 2. Fit the variable to the instatiated model
ratings['user_id'] = le.fit_transform(ratings['user_id'])
ratings.head(10)

   user_id  rating  game_id     title
0   162393    10.0    30549  Pandemic
1   282186    10.0    30549  Pandemic
2   188488    10.0    30549  Pandemic
3   104525    10.0    30549  Pandemic
4   102294    10.0    30549  Pandemic
5   202289    10.0    30549  Pandemic
6   259457    10.0    30549  Pandemic
7    34278    10.0    30549  Pandemic
8   237240    10.0    30549  Pandemic
9   199851    10.0    30549  Pandemic

In [83]:
ratings.user_id.nunique()

351049

In [84]:
ratings.tail(10)

          user_id  rating  game_id              title
15823259    94173     9.0   281515  Company of Heroes
15823260   180855     9.0   281515  Company of Heroes
15823261   320655     9.0   281515  Company of Heroes
15823262    61909     9.0   281515  Company of Heroes
15823263   129799     9.0   281515  Company of Heroes
15823264    50913     8.0   281515  Company of Heroes
15823265   124124     8.0   281515  Company of Heroes
15823266    22867     7.0   281515  Company of Heroes
15823267    65652     6.0   281515  Company of Heroes
15823268   132441     1.0   281515  Company of Heroes

In [85]:
ratings.sort_values(by=["rating"],ascending=True)

,user_id,rating,game_id,title
2439405,59027,1.401300e-45,42,Tigris & Euphrates
9924871,240149,1.000000e-30,5432,Chutes and Ladders
8654503,182310,1.000000e-04,3699,Killer Bunnies and the Quest for the Magic Carrot
15015812,182310,1.000000e-03,9782,Battle of the Bands: Encore Edition
15250333,147014,1.000000e-03,18041,Bunco Party
...,...,...,...,...
3726695,327193,1.000000e+01,237182,Root
3726694,288547,1.000000e+01,237182,Root
3726693,139590,1.000000e+01,237182,Root
3726691,331038,1.000000e+01,237182,Root
0,162393,1.000000e+01,30549,Pandemic

In [86]:
# number of ratings per user
userfreq = ratings[["user_id", "game_id"]].groupby("user_id").count().reset_index()
userfreq.columns = ["user_id","no_ratings"]
userfreq.sort_values(by="no_ratings")

        user_id  no_ratings
245030   245030           1
169471   169471           1
147351   147351           1
49107     49107           1
95683     95683           1
...         ...         ...
66952     66952        4602
342435   342435        4811
41655     41655        4876
161600   161600        4950
267289   267289        6027

[351049 rows x 2 columns]

In [87]:
ratings = ratings.merge(userfreq, on="user_id")
ratings

          user_id  rating  game_id              title  no_ratings
0          162393    10.0    30549           Pandemic        1358
1          162393    10.0    68448          7 Wonders        1358
2          162393    10.0   178900          Codenames        1358
3          162393    10.0    31260           Agricola        1358
4          162393    10.0   148228           Splendor        1358
...           ...     ...      ...                ...         ...
15823264      811    10.0   281515  Company of Heroes           1
15823265   146512    10.0   281515  Company of Heroes           1
15823266   307953    10.0   281515  Company of Heroes           1
15823267    94173     9.0   281515  Company of Heroes           1
15823268   320655     9.0   281515  Company of Heroes           1

[15823269 rows x 5 columns]

In [88]:
# actually creating the matrix

X, user_mapper, game_mapper, user_inv_mapper, game_inv_mapper = create_X(ratings)

In [89]:
X

<19330x351049 sparse matrix of type '<class 'numpy.float64'>'
	with 15823269 stored elements in Compressed Sparse Row format>

## k-nearest neighbors

In [90]:
from sklearn.neighbors import NearestNeighbors

KNN = NearestNeighbors(n_neighbors=10, metric="cosine") # how to pick the metric????
KNN.fit(X)

NearestNeighbors(metric='cosine', n_neighbors=10)

In [91]:
# use the mapper to find the index of the book we want to assess

gameindex = game_mapper[10]
gameindex

9

In [92]:
game_toassess = X[9]
game_toassess

<1x351049 sparse matrix of type '<class 'numpy.float64'>'
	with 7855 stored elements in Compressed Sparse Row format>

In [93]:
# find the nearest neighbors to this book
neig = KNN.kneighbors(game_toassess, return_distance=False)
neig

array([[  9, 673,  84,  80,  51, 109, 429, 406, 218, 311]], dtype=int64)

In [94]:
# use the inverse mapper to find the ids of the neighbours

neig_ids = []
for i in range(1,10):
    n = neig.item(i)
    neig_ids.append(game_inv_mapper[n])

In [95]:
neig_ids

[826, 93, 88, 54, 120, 503, 475, 256, 361]

In [96]:
# use the ids to find the titles

print("because you enjoyed playing:",gametitles[9])
for i in neig_ids:
    print(gametitles[i])

because you enjoyed playing: el caballero
cartagena
el grande
torres
tikal
hoity toity
through the desert
taj mahal
mississippi queen
hare & tortoise

## Make  recommender function

In [97]:
def rec_games(game_id, df, X, k, metric="cosine"):
    """
    Finds k-nearest neighbours for a given book id.
    
    Args:
        book_id: id of the book of interest
        X: user-item utility matrix
        k: number of similar book to retrieve
        metric: distance metric for kNN calculations
    
    Returns:
        list of k similar book ID's
    """
        
    neighbour_ids = []
        
    game_ind = game_mapper[game_id]
    game_to_assess = X[game_ind]
    KNN = NearestNeighbors(n_neighbors=k, metric=metric)
        
    KNN.fit(X)
        
    neighbour = KNN.kneighbors(game_to_assess, return_distance=False)
        
    for i in range(1,k):
        n = neighbour.item(i)
        neighbour_ids.append(game_inv_mapper[n])
            
    game_titles = dict(zip(df["game_id"], df["title"]))
    game_title = game_titles[game_id]
        
    print("Because you enjoyed playing:", game_title) 
    print("I think you would enjoy these:")
    for i in neighbour_ids:
        print(game_titles[i])

In [98]:
rec_games(10, info, X, k=10)

Because you enjoyed playing: elfenland
I think you would enjoy these:
cartagena
el grande
torres
tikal
hoity toity
through the desert
taj mahal
mississippi queen
hare & tortoise

In [100]:
info[info.title.str.contains('pandemic')]

          game_id                               title
0           30549                            pandemic
2893       161936           pandemic legacy: season 1
5362289    221107           pandemic legacy: season 2
6539377    150658                  pandemic: the cure
6545946    198928                    pandemic: iberia
7406011    192153          pandemic: reign of cthulhu
9929732    260428              pandemic: fall of rome
9936696    157789                 pandemic: contagion
11432557   234671               pandemic: rising tide
12224758   280789            pandemic: rapid response
14710440   301919  pandemic: hot zone – north america
15375100   314040           pandemic legacy: season 0

In [101]:
rec_games(30549, info, X, k=10)

Because you enjoyed playing: pandemic
I think you would enjoy these:
7 wonders
carcassonne
dominion
catan
ticket to ride
codenames
small world
king of tokyo
love letter

In [102]:
# nemesis is the best game
info[info.title.str.contains('nemesis')]

          game_id                     title
6538181    167355                   nemesis
15467076   197076       nemesis: burma 1944
15671818   310100         nemesis: lockdown
15780467   200959  1813: napoleon's nemesis

In [103]:
rec_games(167355, info, X, k=10)

Because you enjoyed playing: nemesis
I think you would enjoy these:
lords of hellas
rising sun
blood rage
mansions of madness: second edition
scythe
terraforming mars
root
star wars: rebellion
tainted grail: the fall of avalon

### Recommending games to my friends

In [104]:
info[info.title.str.contains('clank')]

          game_id                                         title
7980       201808             clank!: a deck-building adventure
6544255    233371  clank! in! space!: a deck-building adventure
11027330   266507      clank! legacy: acquisitions incorporated

In [105]:
rec_games(266507, info, X, k=10)

Because you enjoyed playing: clank! legacy: acquisitions incorporated
I think you would enjoy these:
clank! in! space!: a deck-building adventure
clank!: a deck-building adventure
the quacks of quedlinburg
space base
everdell
roll player
wingspan
tapestry
charterstone

In [106]:
info[info.title.str.contains('everrain')]

          game_id         title
15797255   252315  the everrain

In [107]:
rec_games(252315, info, X, k=10)

Because you enjoyed playing: the everrain
I think you would enjoy these:
oathsworn: into the deepwood
solomon kane
warhammer underworlds: dreadfane
limbo: eternal war
mighty morphin power rangers game
waste knights: second edition
the great wall
krosmaster: blast
village attacks

In [108]:
info[info.title.str.contains('twilight')]

          game_id                                              title
2793        12333                                  twilight struggle
3658174     12493                  twilight imperium (third edition)
5359694    233078                 twilight imperium (fourth edition)
13318833   180199  colonial twilight: the french-algerian war, 19...
13383735       24                                  twilight imperium
13756126    26055                 twilight imperium (second edition)
14506148   191364                                  twilight squabble
14844496    63385                        anima: twilight of the gods
14932425    21779                         1914: twilight in the east
15298572   206904                               twilight of the gods
15306786     2902                          twilight imperium: armada
15328881   189664       the hunted: twilight of the u-boats, 1943-45
15496224    33225         clue:  the twilight zone – tower of terror
15600691     5875                       last battle: twilight – 2000
15648644    22406  twilight of the ottomans: world war i in the m...
15691652   164279           twilight sparkle's secret shipfic folder
15712982    41068                           twilight: the board game
15720524     3650                                   the twilight war
15756419    63379  the twilight saga: new moon – the movie board ...
15782846    14746                         twilight's last gleaming 2
15791174    11473                           twilight's last gleaming

In [109]:
rec_games(233078, info, X, k=10)

Because you enjoyed playing: twilight imperium (fourth edition)
I think you would enjoy these:
star wars: rebellion
scythe
terraforming mars
blood rage
rising sun
root
twilight imperium (third edition)
gloomhaven
through the ages: a new story of civilization

In [110]:
info[info.title.str.contains('flatline')]

          game_id     title
12481842   216597  flatline

In [111]:
rec_games(216597, info, X, k=10)

Because you enjoyed playing: flatline
I think you would enjoy these:
fuse
flip ships
sentient
covert
ex libris
pandemic: the cure
magic maze
quadropolis
potion explosion

In [112]:
info[info.title.str.contains('terraforming')]

      game_id              title
1000   167791  terraforming mars

In [114]:
rec_games(167791, info, X, k=10)

Because you enjoyed playing: terraforming mars
I think you would enjoy these:
scythe
great western trail
7 wonders duel
azul
wingspan
codenames
the castles of burgundy
7 wonders
viticulture essential edition